* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body,
header {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.intro {
    color: #d6c32d;
    left: 0;
    margin-top: -100px;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;
}

.left-line-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: #d6c32d;
    z-index: 99;
}

.left-line-out:after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    z-index: 99;
}

.left-line-out:hover:after {
    width: 100%;
    background: #d6c32d;
    z-index: 99;
}

.name {
    font-size: 38px;
}

.subtitle {
    font-size: 18px;
}

.button-links {
    color: #d6c32d;
    left: 0;
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
}

.button-link {
    padding-top: 5px;
    background-color: transparent;
    font-size: 16px;
    max-width: 500px;
}
